<!-- header information (bootstrap 3 column layout) -->
<header>
	<div id="wb-bnr" class="container">
		<div style="display: flex; justify-content: flex-end; padding-top: 20px;">
			<%= render "layouts/signin_signout" %>
		</div>
		<div class="row">
			<!-- Language toggle [version 1.0] -->
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
				<a href="https://www.canada.ca/en.html" property="url">
					<img src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/sig-blk-fr.svg" alt="<%=_('Government of Canada') %>" property="logo" />
				</a>
				<meta property="name" content="Gouvernement du Canada">
				<meta property="areaServed" typeof="Country" content="Canada" />
				<link property="logo" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/wmms-blk.svg" />
			</div>
			<!-- Seach [version 1.0] -->
			<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
				<form action="https://www.canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search">
					<div class="form-group wb-srch-qry">
						<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="<%=_('Search Canada.ca') %>" style="font-size: 16px; max-width: inherit; width: 100%; min-height: 37px; line-height: 1.4375;"/>
						<datalist id="wb-srch-q-ac" style="display: none;"></datalist>
					</div>
					<div class="form-group submit" style="position: absolute; right: 15px; top: 0.65em;">
						<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub" style="margin-left: 5px; min-height: 37px; line-height: 1.4375;">
							<i class="fas fa-search" aria-hidden="true">&nbsp;</i>
						</button>
					</div>
				</form>
			</section>
		</div>
	</div>
	<hr style="border-top: 3px solid #38414d; margin-top: 5px; margin-bottom: 0;">
	<div class="container">
		<nav class="gcweb-menu" typeof="SiteNavigationElement" id="wb-auto-2">
			<button type="button" aria-haspopup="true" aria-expanded="false" aria-label="Press the SPACEBAR to expand or the escape key to collapse this menu. Use the Up and Down arrow keys to choose a submenu item. Press the Enter or Right arrow key to expand it, or the Left arrow or Escape key to collapse it. Use the Up and Down arrow keys to choose an item on that level and the Enter key to access it."><%= _("Menu") %>
				<i class="fas fa-chevron-down" aria-hidden="true">&nbsp;</i>
			</button>
		</nav>
	</div>
	<nav id="wb-bc" property="breadcrumb">
		<div class="container">
			<ol class="breadcrumb" style="list-style: none; background-color: transparent; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;">
				<li><a href='https://www.canada.ca/en.html'>Canada.ca</a></li>
				<li><a style="padding: 5px 10px;" href='https://www.canada.ca/en/shared-services.html'><%= _('Shared Services Canada') %></a></li>
				<% if !active_page?(root_path, true) %>
					<li><a style="padding: 5px 10px;" href='/'>DMPRoadmap</a></li>
				<% end %>
			</ol>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= render partial: "layouts/navigation" %>
				<% if user_signed_in? && !current_user.org.nil? && (!current_user.org.is_other || current_user.can_super_admin?) %>
					<%= render partial: "layouts/branding" , locals: {max_number_links: Rails.configuration.x.max_number_links_funder} %>
				<% end %>
			</div>
		</div>
	</div>
</header>