<!-- Sign in / out -->
<% if user_signed_in? %>
  <span class="dropdown" id="signin-signout">
    <a href="#" class="dropdown-toggle" role="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user" aria-hidden="true">&nbsp;</i>
      <%= current_user.name(false) %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu inverse-dropdown" aria-labelledby="user-menu">
      <li>
        <%= link_to '<i class="fas fa-pencil-square" aria-hidden="true">&nbsp;</i>&nbsp;'.html_safe + _('Edit profile'), edit_user_registration_path %>
      </li>
      <li>
        <%= link_to '<i class="fas fa-sign-in" aria-hidden="true">&nbsp;</i>&nbsp;'.html_safe + _('Logout'), destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </span>
<% end %>

<% if user_signed_in? %>
<!-- if org admin -->
  <% if current_user.can_org_admin? %>
    <span class="dropdown" id="admin-dropdown" style="margin-left:2em;">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="admin-menu" href="#">
        <i class="fas fa-lock" aria-hidden="true">&nbsp;</i>
        <%= _('Admin') %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu inverse-dropdown" aria-labelledby="admin-menu">
        <% if current_user.can_org_admin? %>
          <li <%= 'class=active' if active_page?(org_admin_plans_path) %>>
            <%= link_to _('Plans'), org_admin_plans_path %>
          </li>
        <% end %>
        <% if current_user.can_modify_templates? %>
          <% template_path = current_user.can_super_admin? ? org_admin_templates_path : organisational_org_admin_templates_path %>
            <li <%= 'class=active' if active_page?(template_path) %>>
              <%= link_to _('Templates'), template_path %>
            </li>
        <% end %>
        <% if current_user.can_modify_guidance? %>
            <li <%= 'class=active' if active_page?(admin_index_guidance_path(current_user.org_id)) %>>
              <%= link_to _('Guidance'), admin_index_guidance_path(current_user.org_id) %>
            </li>
        <% end %>
        <% if current_user.can_super_admin? %>
            <li <%= 'class=active' if active_page?(admin_edit_org_path(current_user.org_id)) %>>
              <%= link_to _('Organisations'), super_admin_orgs_path %>
            </li>
        <% else %>
          <% if current_user.can_modify_org_details? %>
              <li <%= 'class=active' if active_page?(admin_edit_org_path(current_user.org_id)) %>>
                <%= link_to _('Organisation details'), admin_edit_org_path(current_user.org_id) %>
              </li>
          <% end %>
        <% end %>
        <% if current_user.can_grant_permissions? %>
            <li <%= 'class=active' if active_page?(admin_index_users_path) %>>
              <%= link_to _('Users'), admin_index_users_path, class: 'main_nav_last_li' %>
            </li>
        <% end %>
        <% if current_user.can_super_admin? %>
          <li <%= 'class=active' if active_page?(super_admin_themes_path) %>>
            <%= link_to(_('Themes'), super_admin_themes_path) %>
          </li>
        <% end %>
        <% if current_user.can_org_admin? || current_user.can_super_admin? %>
          <li <%= 'class=active' if active_page?(usage_index_path) %>>
            <%= link_to(_('Usage'), usage_index_path) %>
          </li>
        <% end %>
        <% if current_user.can_super_admin? %>
          <li <%= 'class=active' if active_page?(super_admin_api_clients_path) %>>
            <%= link_to(_('Api Clients'), super_admin_api_clients_path) %>
          </li>
          <li <%= 'class=active' if active_page?(super_admin_notifications_path) %>>
            <%= link_to _('Notifications'), super_admin_notifications_path %>
          </li>
        <% end %>
      </ul>
    </span>
  <% end %> <!-- if org admin -->
<% end %>

<!-- Language switcher -->
<span style="margin-left:2em;">
  <% if I18n.locale == :en %>
    <%= link_to "Français", locale_path("fr-FR"), method: :patch %>
  <% else %>
    <%= link_to "English", locale_path("en"), method: :patch %>
  <% end %>
</span>

